.typeSelector {
  width: 209px;
  height: 38px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.0001);
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 12px;
  padding-left: 12px;
}

.countrySelector {
  width: 200px;
  height: 38px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.0001);
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  padding-left: 12px;
}

.stateSelector {
  width: 200px;
  height: 38px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-left: 1px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.0001);
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  padding-left: 12px;
}

.selectorOption {
  font-size: 13px;
}

@media (max-width: 767px) {
  .selectors {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .typeSelector {
    width: 288px;
    margin: 4px 0;
  }

  .countrySelector {
    width: 288px;
    border-right: 2px solid #FFFFFF;
    border-radius: 5px;
    margin: 4px 0;
  }

  .stateSelector {
    width: 288px;
    border-left: 2px solid #FFFFFF;
    border-radius: 5px;
    margin: 4px 0;
  }

}
