.typeSelector {
  width: 209px;
  height: 38px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.0001);
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 12px;
}

.countrySelector {
  width: 200px;
  height: 38px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.0001);
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
}

.stateSelector {
  width: 200px;
  height: 38px;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background: rgba(0, 0, 0, 0.0001);
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
}

.selectorOption {
  font-size: 13px;
}
