.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  min-height: 145px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px rgba(5, 27, 43, 0.14);
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-left: 10%;
}


.leftCardInfo {
  display: flex;
  align-items: center;
  width: 60%;
  margin-left: 7%;
}

.logo {
  margin-right: 15%;
  width: 95px;
  height: 76px;
}

.info {
  width: 60%;
}


.infoTitle {
  font-size: 21px;
  line-height: 32px;
}

.infoAddress {
  font-size: 14px;
  line-height: 24px;
}

.rightCardInfo {
  display: flex;
  align-items: center;
  width: 40%;
  margin-left: 7%;
}

.contacts {
  width: 40%;
}

.website {
  font-size: 14px;
  line-height: 32px;
}

.phone {
  text-decoration: none;
  font-size: 13px;
  /* line-height: 32px; */
  color: #354556;
}

.shapeVertical {
  width: 0;
  height: 70px;
  border: 1px solid #DCDEE0;
}

.shapeHorizontal {
  display: none;
}

.status {
  width: 40%;
  margin-left: 10%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}

.statusTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 32px;
}

.helper {
  visibility: hidden;
}


@media (max-width: 767px) {
  .cardContainer {
    flex-direction: column;
    width: 288px;
    margin: 20px auto;
    padding: 0;
  }

  .leftCardInfo {
    width: 288px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .logo {
    margin: 0;
    padding-top: 43px;
    padding-left: 24px;
  }

  .info {
    width: 100%;
  }

  .infoTitle {
    margin-top: 40px;
    margin-left: 24px;
  }

  .infoAddress {
    max-width: 80%;
    margin-top: 13px;
    margin-left: 24px;
  }

  .rightCardInfo {
    width: 288px;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .contacts {
    width: 100%;
    margin-top: 28px;
  }

  .contacts p {
    margin: 0;
  }

  .website {
    width: 240px;
    margin-top: 24px;
    margin-left: 24px;
  }
  
  .phone {
    margin-left: 24px;
    margin-bottom: 0;
  }

  .shapeVertical {
    display: none;
  }

  .shapeHorizontal {
    display: block;
    border: 1px solid #DCDEE0;
    width: 240px;
    margin-top: 32px;
  }

  .status {
    width: 100%;
    margin-left: 24px;
    margin-bottom: 33px;
  }

  .statusTitle {
    margin: 0;
  }

  .helper {
    display: none;
  }
}
