.logoDiv {
  padding-left: 120px;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: white;
}

.logoImg {
  width: 120px;
  height: 25px;
}

.header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 55px;
}

.overlapGroup3 {
  background-size: 100% 100%;
}

.bigTitle {
  margin: 0;
  padding-top: 120px;
  font-size: 46px;
  line-height: 28px;
  color: #FFFFFF;
}


.description {
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.searchContainer {
  width: 621px;
  height: 45px;
  font-size: 15px;
  line-height: 32px;
  margin-top: 48px;
  margin-bottom: 18.5px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box; 
  border-radius: 5px;
  padding-left: 16px;
}

.filter {
  padding-bottom: 120px;
}
